a { text-decoration: none; }
a:link { color: black; }
a:visited { color: black }

h1 {
	font-size: 60px;
	text-align: center;
	width: 100%;
	font-family: 'Permanent Marker', cursive;
}

.allScripts {
    display: grid;
    place-items: center;
    min-height: 70vh;
}

.input {
    width:300px; 
    height:10px;
    padding:15px;
}

.btn {
    width: 100px;
    height: 45px;
}

.green {
    font-size: 15px;
    color:darkgreen; 
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 5px solid darkgreen;
    border-radius: 5px;
}

.png {
    width: 388px;
    height: 500px;
    background: url('./images/NumberBaseball.png');
}

span {
    font-family: 'Permanent Marker', cursive;
	font-size: 25px;
    line-height: 35px;
    color:rgb(208, 255, 177);

    white-space: nowrap;
}

/*#logs {
    top: 10px;
    left: 40px;
}

#strike {
   
    left: 80px;
}

#ball {
  
    left: 100px;
}
*/
