a { text-decoration: none; }
a:link { color: black; }
a:visited { color: black }

h1 {
	font-size: 60px;
	text-align: center;
	width: 100%;
	font-family: 'Permanent Marker', cursive;
}

.allScripts {
    display: grid;
    place-items: center;
    min-height: 70vh;
}

#table {
    border-collapse: collapse; user-select: none; /* 드래그를 막는 속성*/
}

#table td {
    border: 10px solid #bbada0; 
    width: 100px; 
    height: 100px;
    font-size: 45px; 
    text-align: center;
    font-weight: bold;
}

#score { 
    user-select: none;
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    margin-top: 30px;
}
.color-2 { background-color: #eee4da; color: #776e65; }
.color-4 { background-color: #eee1c9; color: #776e65; }
.color-8 { background-color: #f3b27a;  }
.color-16 { background-color: #f69664; }
.color-32 { background-color: #f77c5f; }
.color-64 { background-color: #f75f3b; }
.color-128 { background-color: #edd073; }
.color-256 { background-color: #edcc62; }
.color-512 { background-color: #edc950; }
.color-1024 { background-color: #dab439; }
.color-2048 { background-color: #b8931a; }
